body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #111;
}

canvas {
  background: #87ceeb; /* світло-блакитне, видно небо */
  border: 2px solid #000;
}

